<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/assets/bootstrap.min.css">
    <title>Index</title>
</head>

<body>
    <div class="container">

        <h1>Directory {{dir}}</h1>
        
        {{#each subdirs}}
        <p><a href="/dir/{{../dir}}/{{this}}">
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="/static/assets/bootstrap-icons.svg#folder"/>
            </svg>
            {{this}}
        </a></p>
        {{/each}}

        {{#each files}}
        <p><a href="/watch/{{../dir}}/{{this}}">
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="/static/assets/bootstrap-icons.svg#file-earmark"/>
            </svg>
            {{this}}
        </a></p>
        {{/each}}
    </div>
    <script src="/static/assets/jquery.slim.min.js"></script>
    <script src="/static/assets/bootstrap.bundle.min.js"></script>
</body>

</html>